<wicket:extend>
	<div class="project-contribs p-2 p-sm-5">
		<wicket:enclosure child="note">
		<div class="alert alert-notice bg-white shadow mb-5 text-gray">
			<wicket:svg href="bulb" class="icon mr-2"/><span wicket:id="note"></span>
		</div>
		</wicket:enclosure>
		<div class="card mb-5">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<span class="date-range mr-3 font-size-h5"></span>
					<select class="contrib-type custom-select form-control ml-auto">
						<option>Commits</option>
						<option>Additions</option>
						<option>Deletions</option>
					</select>
				</div>
				<div class="overall chart"></div>
			</div>
		</div>
		<div class="top-contributors"></div>
	</div>
	<div wicket:id="userCard" class="user-card-content"></div>
</wicket:extend>