<wicket:panel>
	<div class="head clearfix">
		<div class="float-left">
			<span wicket:id="user" class="user"></span> commented <span wicket:id="age"></span>
		</div>
	</div>
	<div wicket:id="body" class="body"></div>
</wicket:panel>