<wicket:panel>
	<div wicket:id="tree" class="blob-picker"></div>
	<wicket:fragment wicket:id="folderFrag">
		<svg wicket:id="icon" class="icon"></svg> <span wicket:id="label"></span>
	</wicket:fragment>
	<wicket:fragment wicket:id="fileFrag">
		<a wicket:id="link"><svg wicket:id="icon" class="icon"></svg> <span wicket:id="label"></span></a>
	</wicket:fragment>
</wicket:panel>