<wicket:extend>
	<!-- fit-content is added here to fix the issue that the project div can not 
	cover its content if content is too long to cause scroll bars to apear in parent
	div. This happens in safari only
	-->
	<div class="project flex-grow-1 d-flex flex-column fit-content">
		<wicket:child></wicket:child>
	</div>
	<wicket:fragment wicket:id="topbarTitleFrag">
		<a wicket:id="projects" class="d-none d-sm-inline">Projects</a>
		<span class="dot d-none d-sm-inline"></span>
		<a wicket:id="projectLink" class="text-truncate"><span wicket:id="label"></span></a>
		<span class="dot"></span>
		<wicket:container wicket:id="projectTitle"></wicket:container>
	</wicket:fragment>
</wicket:extend>