.code-comment-list .new-indicator {
	width: 4px;
	padding: 0;
}
.code-comment-list tr.comment.new td.new-indicator {
	background: var(--primary);
}
@media(max-width: 767px) {
	.code-comment-list table>thead {
		display: none;
	}
}
.code-comment>.section {
	position: relative;
	margin-left: -1rem;
	padding-left: 1rem;
	border-left: 4px solid white;
}
.code-comment>.section>.detail, .code-comment>.section>form {
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom: 1px solid var(--light);
}
.code-comment>.section.new {
	border-left: 4px solid var(--primary);
}
.code-comment>.section>.user-avatar {
	position: absolute;
	left: 1rem;
	top: 1rem;
}
.code-comment>.section>.user-avatar img {
	width: 32px;
	height: 32px;
}
.code-comment>.section>.detail {
	padding-left: 3rem;
}
.code-comment>.section>.detail>.body {
	padding-top: 0.5rem;
}
.code-comment>.section>.detail>.body>.feedback .alert {
	margin-bottom: 0;
}
.code-comment>.add-reply {
	margin-top: 1.2rem;
}
.code-comment .markdown-rendered {
	font-size: inherit;
	line-height: inherit;
}
