<wicket:panel>
	<div class="password-edit">
		<div class="body">
			<form wicket:id="form" class="leave-confirm" autocomplete="off">
				<div wicket:id="editor"></div>
				<div class="actions">
					<input type="submit" class="btn btn-primary dirty-aware" value="Change">
				</div>
			</form>
		</div>
	</div>
</wicket:panel>