.diff-stat-bar {
	color: var(--secondary); 
}
.diff-stat-bar>i {
	font-size: 16px;
	font-style: normal; 
	word-spacing: -4px;
}
.diff-stat-bar .additions {
	color: #35c335;
}
.diff-stat-bar .deletions {
	color: #c33535;
}

