.reviews>li+li {
	margin-top: 1rem;
}
.reviewer-avatar {
	position: relative;
}
.reviewer-avatar .review-status {
	position: absolute;
	left: 14px;
	top: 12px;
}
.reviewer-avatar .review-status.icon {
	width: 10px;
	height: 10px;
}

.review-status-approved.icon {
	fill: var(--success);
}
.review-status-request-for-changes.icon {
	fill: var(--danger);
}
.review-status-pending.icon {
	fill: var(--warning);
}