<wicket:panel>
	<div class="plain-edit blob-submit-aware d-flex flex-column flex-grow-1">
		<div class="source resize-aware autofit overflow-hidden d-flex flex-column flex-grow-1"></div>
		<textarea wicket:id="input" class="input flex-shrink-0"></textarea>
	</div>
</wicket:panel>