<wicket:extend>
	<div class="card">
		<div class="card-body">
			<form wicket:id="authenticator" class="authenticator leave-confirm">
				<div wicket:id="editor" class="mb-5"></div>
				<button wicket:id="save" class="btn btn-primary dirty-aware mr-3">Save Setting</button>
				<input wicket:id="test" type="submit" class="btn btn-light-primary" value="Test setting">
			</form>
		</div>
	</div>
	<wicket:fragment wicket:id="testFrag">
		<form wicket:id="form" class="authenticator-test">
			<div class="modal-header">
				<h5 id="modal-title" class="modal-title">Authentication Test</h5>
				<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
			</div>
			<div class="modal-body">
				<div wicket:id="editor"></div>
			</div>
			<div class="modal-footer">
				<button wicket:id="ok" class="btn btn-primary">Ok</button>
				<button wicket:id="cancel" class="btn btn-secondary">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
</wicket:extend>
