<wicket:extend>
    <div class="changes">
        <div wicket:id="commits"></div>
        <div class="font-size-sm text-muted mt-4"><wicket:svg href="bulb" class="icon mr-1 mt-n1"/> This page lists changes since previous build on <a wicket:id="buildStreamHelpUrl" class="link-primary" target="_blank">same stream</a></div>
    </div>
</wicket:extend>