.source-view>.code {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
}
.source-view>.comment>.ui-resizable-handle {
	border-right: 1px solid var(--light-gray);
	background: var(--light) url(/icon/grip3.svg) no-repeat scroll center center;
	background-size: 18px 18px;
    cursor: e-resize;
    width: 4px;
	position: relative;
	right: 0;
}
.source-view>.outline {
	left: 0 !important;
}
.source-view>.outline>.ui-resizable-handle {
	border-left: 1px solid var(--light-gray);
	background: var(--light) url(/icon/grip3.svg) no-repeat scroll center center;
	background-size: 18px 18px;
    cursor: w-resize;
    width: 4px;
	position: relative;
	left: 0;
}
.source-view>.outline>.content>.body {
	padding: 0.5rem 1rem;
}
.source-view>.outline>.content>.body .tree-content {
	border-radius: 4px;
	padding: 1px 4px 1px 3px;
}
.source-view>.outline>.content>.body .tree-content.active {
	background: #FCF5DA;
}

.CodeMirror-linenumber {
	width: 30px;
	padding-left: 0;
}
.CodeMirror-coverages {
	width: 6px;
}
.CodeMirror-coverage {
	margin-right: 2px;
}
.CodeMirror-coverage.tested {
	background: var(--success);
}
.CodeMirror-coverage.not-tested {
	background: var(--warning);
}
.CodeMirror-coverage.tested:hover {
	background: #12827c;
}
.CodeMirror-coverage.not-tested:hover {
	background: #b37600;
}

.CodeMirror-comments {
	width: 24px;
}
.CodeMirror-problems {
	width: 20px;
}
.CodeMirror-comment, .CodeMirror-problem {
	text-align: right;
}

.CodeMirror-annotations {
	width: 240px;
}
.CodeMirror-annotation {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.source-view .CodeMirror .CodeMirror-cursor {
	border-left: none;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
.CodeMirror-annotation .same-as-above {
	margin-left: 100px;
	color: var(--gray);
}
.CodeMirror-activeline .CodeMirror-annotation {
	background: #E8F2FE;	
}

.outline-search .result {
	height: 400px;
}
