<wicket:panel>
	<form wicket:id="form" class="leave-confirm">
        <div wicket:id="feedback" class="mb-4"></div>
        <div wicket:id="editor"></div>
		<div class="d-flex mt-5">
			<input class="btn btn-primary dirty-aware mr-1" value="Save" type="submit">
			<a wicket:id="delete" class="btn btn-danger ml-auto">Delete</a>
		</div>
	</form>
</wicket:panel>