<wicket:panel>
	<div class="job-list">
    	<div wicket:id="jobs" class="job">
        	<div class="head text-nowrap d-flex align-items-center p-3">
            	<a wicket:id="name" class="name d-flex align-items-center"><b wicket:id="label"></b></a>
                <a wicket:id="showInList" class="ml-2 d-flex align-items-center" title="Show in build list"><wicket:svg href="unordered-list" class="icon"></wicket:svg></a>
                <a wicket:id="run" class="run ml-2 d-flex align-items-center" title="Run this job"><wicket:svg href="play" class="icon"></wicket:svg></a>
            </div>
            <div class="body">
				<div wicket:id="detail"></div>
			</div>
		</div>
		<div wicket:id="note" class="small text-warning m-3"><wicket:svg href="info-circle" class="icon mr-1"/> Some jobs are hidden due to permission policy</div>
	</div>
</wicket:panel>