<wicket:panel>
	<wicket:enclosure child:id="enable">
		<span class="switch switch-sm switch-primary mb-3">
			<label>
				<input wicket:id="enable" type="checkbox" class="enable">
			</label>
		</span>
	</wicket:enclosure>
	<div wicket:id="beanEditor"></div>
</wicket:panel>