.search-result>.head {
	border-bottom: 1px solid var(--secondary);
}

.search-result>.body>li .expand {
	margin-right: -4px;
}
.search-result>.body a.selectable.active span {
	background-color: inherit !important;
}
.search-result>.body>li>ul {
	margin-left: 34px;
}
.search-result>.body>li .arrow-right {
	transform: rotate(0);
}
.search-result>.body>li .arrow-down {
	transform: rotate(90deg);
}
.search-result>.body>li .scope {
	color: var(--gray);
	font-size: 12px;
}
