<wicket:panel>
	<div class="message">
		<div class="modal-header">
            <h5 class="modal-title">Please Note</h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
               <div wicket:id="content" class="content"></div>
		</div>
		<div class="modal-footer">
			<input wicket:id="ok" type="submit" class="btn btn-primary" value="Ok">
		</div>
	</div>
</wicket:panel>