<wicket:extend>
	<div class="user-ssh-key-list list">
		<div class="head">
			<div wicket:id="sshKeyNote" class="alert alert-notice alert-light-warning mb-4"></div>
			<a class="add-new btn-icon btn btn-primary" title="Add SSH key" wicket:id="newKey"><wicket:svg href="plus" class="icon"></wicket:svg></a>
		</div>
		<div class="body">
			<div wicket:id="keyList"></div>
		</div>
	</div>
</wicket:extend>
