<wicket:panel>
	<div class="issue-batch-edit">
		<form wicket:id="form">
			<div class="modal-header">
				<h5 wicket:id="title" class="modal-title"></h5>
				<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 font-size-lg">Fields to Change</div>
				<div wicket:id="feedback"></div>
				<div class="d-flex flex-wrap mb-4">
					<label class="checkbox flex-shrink-0 mr-3">
	      				<input wicket:id="stateCheck" type="checkbox"> State
	  				</label>					
					<label class="checkbox flex-shrink-0 mr-3">
	      				<input wicket:id="milestoneCheck" type="checkbox"> Milestone
	  				</label>					
					<label wicket:id="customFields" class="checkbox flex-shrink-0 mr-3">
		      			<input wicket:id="customFieldCheck" type="checkbox"> <wicket:container wicket:id="name"></wicket:container>
					</label>
				</div>
				<div wicket:id="builtInFieldsEditor" class="mb-4"></div>
				<div wicket:id="customFieldsEditor" class="mb-4"></div>
				<div wicket:id="comment" placeholder="Leave a comment"></div>
			</div>				
			<div class="modal-footer">
				<input wicket:id="save" type="submit" class="btn btn-primary" value="Save">
				<a wicket:id="cancel" class="btn btn-secondary">Cancel</a>
			</div>
		</form>
	</div>
</wicket:panel>