.order-edit {
	padding: 1rem 0;
}
.order-edit .selected .drag-indicator {
	padding-right: 0.2rem;
	text-align: right;
	width: 1px;
}
.order-edit .selected .index {
	padding-left: 0;
	padding-right: 0.4rem;
	text-align: right;
	width: 1px;
}
.order-edit .selected td.name {
	width: 1px;
	padding-left: 0;
	white-space: nowrap;
}

.order-edit .available a {
	display: block;
	padding: 0.6rem 0.8rem;
} 
.order-edit .available a .icon {
	margin-right: 0.4rem;
} 
.order-edit .available a:hover, .order-edit .available a:focus {
	background: var(--light);
} 
