.symbol-tooltip {
	background-color: var(--light-info); 
	border-radius: 0.42rem; 
	color: var(--info);
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; 
	font-size: 12px; 
	padding: 1rem; 
	z-index: 10000; 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
	max-width: 720px;
}
.symbol-tooltip ul.declarations li {
	vertical-align: top; 
	padding: 2px 4px; 
	white-space: nowrap;
}
.symbol-tooltip ul.declarations .scope {
	color: var(--gray);
}
.symbol-tooltip a.find-occurrences[disabled] {
	opacity: 100%;
}