<wicket:panel>
	<div wicket:id="content" class="field-values d-flex flex-wrap"></div>
	<wicket:fragment wicket:id="nonEmptyValuesFrag">
		<div wicket:id="values" class="value mb-2 mr-2"><span wicket:id="value"></span></div>	
	</wicket:fragment>
	<wicket:fragment wicket:id="linkFrag">
		<a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="commitFrag">
		<span class="btn-group">
	        <a wicket:id="hashLink" class="hash btn btn-sm btn-outline-secondary"><span wicket:id="hash"></span></a>
	        <a wicket:id="copyHash" class="btn btn-sm btn-outline-secondary"><wicket:svg href="copy" class="icon"></wicket:svg></a>
		</span>
	</wicket:fragment>
	<wicket:fragment wicket:id="notAccessibleCommitFrag">
        <span wicket:id="hash"></span>
        <a wicket:id="copyHash"><wicket:svg href="copy" class="icon"></wicket:svg></a>
	</wicket:fragment>
</wicket:panel>
