<wicket:extend>
	<div class="card group-detail">
		<div class="card-body">
        	<ul wicket:id="groupTabs" class="tabs nav nav-bold nav-tabs nav-tabs-line font-weight-bold mb-4"></ul>
			<wicket:child></wicket:child>
		</div>
	</div>
	<wicket:fragment wicket:id="topbarTitleFrag">
		<a wicket:id="groups">Groups</a> <span class="dot"></span> <span wicket:id="groupName" class="text-truncate"></span> 
	</wicket:fragment>
</wicket:extend>