<wicket:extend>
	<form wicket:id="form" class="user-authorizations leave-confirm">
		<div wicket:id="feedback" class="mb-4"></div>
		<div wicket:id="editor"></div>
		<input type="submit" class="btn btn-primary dirty-aware mt-4" value="Save">
	</form>
</wicket:extend>