<wicket:panel>
	<div class="head">Reference <a title="Can be referenced via below string in markdown" class="ml-2 text-gray"><wicket:svg href="question-o" class="icon icon-sm"/></a></div>
	<div class="body">
		<div class="d-flex align-items-center flex-nowrap">
			<span wicket:id="reference" class="text-nowrap text-truncate mr-3"></span>
			<a wicket:id="copy" class="btn btn-xs btn-icon btn-light btn-hover-primary">
				<wicket:svg href="copy" class="icon"></wicket:svg>
			</a>
		</div>
	</div>
</wicket:panel>
