<wicket:panel>
<table class="property-change">
	<thead>
		<th wicket:id="nameHeader" class="name">Name</th>
		<th class="old-value value">Previous Value</th>
		<th class="new-value value">Current Value</th>
	</thead>
	<tr wicket:id="properties">
		<wicket:enclosure>
		<td class="name">
			<span wicket:id="name"></span>
		</td>
		</wicket:enclosure>
		<td class="old-value value">
			<span wicket:id="oldValue"></span>
		</td>
		<td class="new-value value">
			<span wicket:id="newValue"></span>
		</td>
	</tr> 
</table>
</wicket:panel>