<wicket:extend>
	<div class="avatar-edit card">
		<div class="card-body">
			<div class="current border-bottom pb-5 mb-5">
				<h6 class="title mb-4">Current avatar</h6>
				<img wicket:id="avatar"/>
				<a wicket:id="useDefault" class="btn btn-primary mt-4"><wicket:svg href="undo" class="icon mr-2"/> Use Default</a>
			</div>
			<div class="use-uploaded">
				<h6 class="title mb-4">Upload avatar</h6>
				<form wicket:id="form">
					<div wicket:id="avatar"></div>
					<button wicket:id="upload" type="submit" class="btn btn-primary mt-4"><wicket:svg href="upload" class="icon mr-2"/> Upload</button>
				</form>
			</div>
		</div>
	</div>
</wicket:extend>