<wicket:extend>
	<div class="card general-security-setting">
		<div class="card-body">
			<form wicket:id="form" class="leave-confirm">
				<div wicket:id="editor" class="mb-4"></div>
				<input type="submit" class="btn btn-primary dirty-aware" value="Save Setting">
			</form>
		</div>
	</div>
</wicket:extend>
