<wicket:panel>
	<li><a wicket:id="prev" class="prev btn btn-sm btn-light btn-icon mr-2"><wicket:svg href="arrow" class="icon stroke-50 flip-x"/></a></li>
	<li wicket:id="navigation">
		<a wicket:id="pageLink" href="#" class="btn btn-sm btn-light btn-icon mr-2"><span wicket:id="pageNumber">5</span></a>
	</li>
	<li><a wicket:id="next" class="next btn btn-sm btn-light btn-icon"><wicket:svg href="arrow" class="icon stroke-50"/></a></li>
</wicket:panel>
