<wicket:extend>
	<div class="side-main side-main-wrap p-2 p-sm-5">
		<div wicket:id="savedQueries" class="side"></div>
		<div wicket:id="pullRequests" class="main"></div>
	</div>
</wicket:extend>
