.subtree-dropdown-trigger {
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 2px;
}
.subtree-dropdown-trigger>span {
	display: block;
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid var(--gray-dark);
}

.subtree-dropdown-trigger:hover, .subtree-dropdown-trigger.dropdown-open {
	background: var(--primary);
	padding-top: 6px;
}
.subtree-dropdown-trigger:hover>span, .subtree-dropdown-trigger.dropdown-open>span {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid white;
}	
.subtree-dropdown {
	padding: 1rem; 
	max-width: 800px; 
}

.blob-navigator .name .form-control {
	width: 200px;
}