.revision-diff>.body>.title {
	font-size: 1.2rem;
	margin-bottom: 1.2rem;	
}
.revision-diff>.body>.alert {
	margin-bottom: 1.2rem;
}
.revision-diff>.body>.title>a .icon {
	transform: rotate(90deg);
}
.revision-diff>.body>.title>a.expanded .icon {
	transform: rotate(-90deg);
}

.revision-diff>.body>.diff-stats>.diff-stat .dot-square, 
.revision-diff>.body>.diff-stats>.diff-stat .arrow-square {
	fill: #D0B44C;
}
.revision-diff>.body>.diff-stats>.diff-stat .plus-square {
	fill: #35C335;
}
.revision-diff>.body>.diff-stats>.diff-stat .minus-square {
	fill: #C33535;
}
.revision-diff>.body>.diff-stats>.diff-stat>span>.additions {
	color: #35C335;
}
.revision-diff>.body>.diff-stats>.diff-stat>span>.deletions {
	color: #C33535;
}
.revision-diff>.body>.diff-stats>.diff-stat>span>.additions, 
.revision-diff>.body>.diff-stats>.diff-stat>span>.deletions {
	font-size: 1rem;
	font-weight: bold;
	margin-right: 0.3rem;
}

.revision-diff>.body>.detail>.comment {
	top: 2rem;
	max-height: calc(100vh - 2rem - var(--topbar-height));
}

.revision-diff>.body>.detail>.comment>.ui-resizable-handle {
	border-right: 1px solid var(--light-gray);
	background: var(--light) url(/icon/grip3.svg) no-repeat scroll center center;
	background-size: 18px 18px;
    cursor: e-resize;
    width: 4px;
	position: relative;
	right: 0;
}

.revision-diff>.body>.detail>.diffs>.diff:last-child {
	margin-bottom: 0 !important;
}