<wicket:panel>
	<form wicket:id="form" class="leave-confirm">
		<div class="modal-header">
			<h5 class="modal-title">Fork Project</h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<button wicket:id="save" class="btn btn-primary">Ok</button>
			<button wicket:id="cancel" class="btn btn-secondary">Cancel</button>
		</div>
	</form>
</wicket:panel>