<wicket:extend>
	<div class="symbol-link">
		<wicket:svg href="folder-redo" class="icon"></wicket:svg> Symbol link: <a wicket:id="link"><span wicket:id="label"></span></a>
	</div>
</wicket:extend>