<wicket:extend>
	<form wicket:id="form">
		<div wicket:id="editor"></div>
		<input wicket:id="save" class="btn btn-primary" value="Sign Up" type="submit">
		<a wicket:id="cancel" class="btn btn-light-primary">Cancel</a>
	</form>
</wicket:extend>