<wicket:panel>
	<div class="issue-commits">
		<div wicket:id="commits" class="commit d-flex py-3">
			<div class="avatar flex-shrink-0 mr-2">
				<span wicket:id="avatar"></span>
			</div>
			<div class="detail flex-grow-1 mr-3">
				<div wicket:id="message" class="message"></div>
				<div wicket:id="contribution"></div>
			</div>
			<div class="d-none d-lg-block flex-shrink-0">
		        <span wicket:id="buildStatus" class="build-status mr-2"></span>
		        <span class="btn-group hash mr-2">
		            <a wicket:id="hashLink" class="btn btn-outline-secondary hash"><span wicket:id="hash"></span></a>
		            <a wicket:id="copyHash" class="btn btn-icon btn-outline-secondary"><wicket:svg href="copy" class="icon"></wicket:svg></a>
		        </span>
		        <span class="btn-group browse">
		            <a wicket:id="browseCode" title="Browse code" class="btn btn-icon btn-outline-secondary"><wicket:svg href="files" class="icon"></wicket:svg></a>
		        </span>
			</div>
		</div>
	</div>
</wicket:panel>
