<wicket:extend>
    <div wicket:id="artifacts" class="build-artifacts"></div>
    <wicket:fragment wicket:id="contentFrag">
        <a wicket:id="link">
			<svg wicket:id="icon" class="icon"/>
			<span wicket:id="label"></span>
		</a>
    </wicket:fragment>
</wicket:extend>