<wicket:extend>
	<div wicket:id="externalManagedNote" class="alert alert-notice alert-light-warning"></div>
	<div wicket:id="content"></div>
	<a wicket:id="delete" class="btn btn-danger">Delete</a>
</wicket:extend>