.folder-view>table>tbody>tr>td {
	padding: 0.6rem 1.2rem; 
	border-top: 1px solid var(--light); 
}

.folder-view>table>tbody>tr:first-child>td {
	border-top: none;
}
.folder-view>.readme>.head {
	padding: 0.5rem 1rem;
	background: var(--light);
	border-top: 1px solid var(--light-gray);
	border-bottom: 1px solid var(--light-gray);
}
.folder-view>.readme>.body {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
