<wicket:extend>
	<div wicket:id="content" class="issue-boards flex-grow-1 d-flex flex-column"></div>
	<wicket:fragment wicket:id="hasBoardsFrag">
		<div class="head flex-shrink-0">
			<form wicket:id="query" class="d-flex flex-wrap flex-md-nowrap">
				<span class="btn-group flex-shrink-0 mr-0 mr-md-4 mb-3 mb-md-0">
					<a wicket:id="board" title="Board" class="board-selector btn btn-outline-secondary btn-hover-primary text-nowrap bg-white">
						<wicket:svg href="split" class="icon mr-2"></wicket:svg>
						<span wicket:id="label"></span>
						<wicket:svg href="arrow" class="icon rotate-90 ml-1"></wicket:svg>
					</a>
					<a wicket:id="backlog" class="bg-white backlog btn btn-outline-secondary btn-hover-primary text-nowrap"><wicket:svg href="inbox" class="icon mr-2"></wicket:svg> Backlog</a>
					<a wicket:id="milestone"></a>
				</span>
				<div class="clearable-wrapper w-100 w-auto-md flex-grow-1">
					<div class="input-group">
						<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control">
						<span class="input-group-append text-nowrap">
							<button wicket:id="submit" type="submit" class="bg-white btn btn-icon btn-outline-secondary btn-hover-primary" title="Query"><wicket:svg href="magnify" class="icon"></wicket:svg></button>
							<button wicket:id="orderBy" class="bg-white btn btn-icon btn-outline-secondary btn-hover-primary" title="Order by"><wicket:svg href="sort" class="icon"></wicket:svg></button>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div wicket:id="body" class="body flex-grow-1 d-flex flex-column">
			<div wicket:id="feedback" class="feedback flex-shrink-0"></div>
			<div class="columns flex-grow-1 d-flex mt-5 autofit overflow-auto">
				<div wicket:id="columns" class="column d-flex flex-column overflow-hidden"></div>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="noBoardsFrag">
		<div class="alert alert-notice alert-light-success shadow no-boards">
			<span class="mr-3">No issue boards defined</span> 
			<a wicket:id="newBoard" class="mr-3"><wicket:svg href="plus" class="icon mr-1"></wicket:svg>Add New</a>
			<a wicket:id="useDefault"><wicket:svg href="undo" class="icon mr-1"></wicket:svg>Use Default</a>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="hasMilestoneFrag">
		<a wicket:id="link" title="Milestone" class="milestone-selector btn text-nowrap bg-white">
			<wicket:svg href="milestone" class="icon mr-2"></wicket:svg>
			<span wicket:id="label"></span>
			<wicket:svg href="arrow" class="icon rotate-90 ml-1"></wicket:svg>
		</a>
	</wicket:fragment>
	<wicket:fragment wicket:id="boardMenuFrag">
		<div class="board-menu p-4">
			<div class="text-muted mb-3"><wicket:svg href="bulb" class="icon"/> The first board will be the primary board</div>
			<table class="boards table">
				<tr wicket:id="boards" class="board">
					<td class="name">
						<span wicket:id="dragIndicator" class="drag-indicator"><wicket:svg href="grip" class="icon"/></span>			
						<a wicket:id="select" class="select"><span wicket:id="name"></span></a>
						<span wicket:id="primary" class="badge badge-sm badge-light-info ml-2">Primary</span>
					</td>
					<td wicket:id="actions" class="actions text-right">
						<a wicket:id="edit" class="btn btn-icon btn-xs btn-light btn-hover-primary mr-1" title="Edit"><wicket:svg href="edit" class="icon"></wicket:svg></a>
						<a wicket:id="delete" class="btn btn-icon btn-xs btn-light btn-hover-danger" title="Delete"><wicket:svg href="trash" class="icon"></wicket:svg></a>
					</td>
				</tr>
			</table>
			<a wicket:id="newBoard" class="btn btn-light btn-hover-primary btn-sm btn-block new-board"><wicket:svg href="plus" class="icon mr-2"></wicket:svg> Add New Board</a>
			<a wicket:id="useDefault" class="btn btn-light btn-hover-primary btn-sm btn-block use-global"><wicket:svg href="undo" class="icon mr-2"></wicket:svg> Use Default Boards</a>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="milestoneMenuFrag">
		<div class="milestone-menu p-4">
			<table class="milestones table">
				<tr wicket:id="milestones" class="milestone">
					<td class="name">
						<a wicket:id="select"><span wicket:id="name"></span></a>
					</td>
					<td class="status">
						<span wicket:id="status"></span>
					</td>
					<td class="due-date">
						<span wicket:id="dueDate"></span>
					</td>
					<td wicket:id="actions" class="actions text-right">
						<a wicket:id="close" class="action">close</a>
						<a wicket:id="reopen" class="action ml-2">reopen</a>
						<a wicket:id="edit" class="action ml-2">edit</a>
						<a wicket:id="delete" class="action ml-2">delete</a>
					</td>
				</tr>
			</table>
			<a wicket:id="showClosed" class="show-closed btn btn-block btn-light btn-hover-primary btn-sm"><wicket:svg href="double-arrow" class="icon rotate-90 mr-2"></wicket:svg> Show Closed</a>
			<a wicket:id="newMilestone" class="new-milestone btn btn-block btn-light btn-hover-primary btn-sm"><wicket:svg href="plus" class="icon mr-2"></wicket:svg> Add New Milestone</a>
		</div>
	</wicket:fragment>
</wicket:extend>