<wicket:extend>
    <div class="issues">
        <div wicket:id="issues"></div>
        <div class="font-size-sm text-muted mt-4"><wicket:svg href="bulb" class="icon mt-n1 mr-1"/> This page lists fixed issues since previous build on <a wicket:id="buildStreamHelpUrl" class="link-primary" target="_blank">same stream</a></div>
    </div>
</wicket:extend>