<wicket:panel>
    <table class="issue-fields-view">
        <tr wicket:id="fields" class="issue-field">
            <td wicket:id="name" class="name"></td>
            <td class="value">
                <div wicket:id="valueProvider" class="value-provider"></div>
                <div wicket:id="value" class="value"></div>
            </td>
        </tr>
    </table>
</wicket:panel>