<wicket:panel>
    <div class="issue-fields-edit">
        <div wicket:id="fields" class="issue-field form-group">
            <label class="name control-label">
                <span wicket:id="name"></span>
                <span wicket:id="required" class="text-danger">*</span>
            </label>
            <select wicket:id="valueProvider" class="form-control custom-select value-provider"></select>
            <div wicket:id="value" class="value"></div>
		    <div wicket:id="feedback" class="feedback"></div>
			<p wicket:id="description" class="form-text text-muted"></p>
        </div>
    </div>
</wicket:panel>