<wicket:extend>
	<div class="p-5">
		<div wicket:id="workflowChangeAlert" class="mb-5"></div>
		<div class="card">
			<div class="card-body">
				<form wicket:id="form" class="leave-confirm">
					<div wicket:id="newIssue"></div>
					<button type="submit" class="btn btn-primary dirty-aware">Save</button>
				</form>
			</div>
		</div>
	</div>
</wicket:extend>