<wicket:panel>
	<div class="tag-protection card card-default">
		<div class="card-header">
			<div class="card-title">
				<span class="drag-indicator"><wicket:svg href="grip" class="icon mr-4"/></span>
				<a wicket:id="edit" class="btn btn-xs btn-icon btn-light btn-hover-primary mr-2" title="Edit this rule"><wicket:svg href="edit" class="icon"></wicket:svg></a>
				<a wicket:id="delete" class="btn btn-xs btn-icon btn-light btn-hover-danger mr-4" title="Delete this rule"><wicket:svg href="trash" class="icon"></wicket:svg></a>
			</div>
			<div class="card-toolbar">
				<span class="switch switch-sm switch-primary">
					<label>
						<input wicket:id="enable" type="checkbox"> 
					</label>
				</span>
			</div>
		</div>
		<div class="card-body">
			<div wicket:id="protection"></div>
		</div>
	</div>
</wicket:panel>