<wicket:extend>
	<div class="p-5">
		<div wicket:id="sshKeyNote" class="alert alert-notice alert-light-warning mb-5"></div>
		<div class="card">
			<div class="card-body">
				<a wicket:id="newKey" class="btn btn-primary btn-icon mb-4" title="Add SSH Key"><wicket:svg href="plus" class="icon"></wicket:svg></a>
				<div wicket:id="keyList"></div>
			</div>
		</div>
	</div>
</wicket:extend>
