<wicket:panel>
	<div class="entity-nav d-flex align-items-center justify-content-between font-size-h6">
		<a wicket:id="prev" class="prev mr-4"><wicket:svg href="arrow2" class="icon icon-lg rotate-180"/></a>
		<span wicket:id="current" class="mr-4"></span>
		<a wicket:id="next" class="next"><wicket:svg href="arrow2" class="icon icon-lg"/></a>
	</div>
</wicket:panel>
