<wicket:panel>
	<div class="commit-message d-flex align-items-center flex-wrap">
		<span wicket:id="summary" class="summary text-break mr-2"></span> 
		<a class="btn btn-xs h-75 btn-secondary btn-icon" href="javascript:void(0);" title="Toggle detail message" onclick="$(this).next().toggle(); $(window).resize();" wicket:id="toggle">
			<wicket:svg href="ellipsis" class="icon"/>
		</a>
		<pre wicket:id="detail" class="detail text-break w-100"></pre>
	</div>
</wicket:panel>